<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971544755406-9b9aad857limomsksi942c952qd03oor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971544755406-9b9aad857limomsksi942c952qd03oor</string>
	<key>API_KEY</key>
	<string>AIzaSyCCXZ2-ifjVgrymkXovDnHzJvwLkQxgwwI</string>
	<key>GCM_SENDER_ID</key>
	<string>971544755406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-7a608</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-7a608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971544755406:ios:a21c91cb0fa55eac3ee49f</string>
</dict>
</plist>